html,
body {
  height: 100%;
  background-color: #333;
}

body {
  color: #fff;
  text-align: center;
}

footer {
  float: right;
  height: 100px;
  margin: 0px 0px 0px 0px;
  text-align: center;
  padding: 10px 30px;
}

A:link {
  color: rgb(84, 84, 95)
}

A:visited {
  color: rgb(84, 84, 95)
}

A:active {
  color: rgb(84, 84, 95)
}

A:hover {
  color: rgb(84, 84, 95)
}

a img {
  opacity: 0.25;
  filter: grayscale(1);
}

a img:hover {
  opacity: 1;
  filter: grayscale(0);
}

.container{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.box{
  width: 25%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.social-icon {
  width: 37px;
  height: 37px;
  padding: 5px 5px;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 400px) {
  .box{
    width: 13%;
  }
  .footer{
    height: 70px;
    margin: 0px 50px 0px 0px;
    text-align: right;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .cover-container {
    width: 100%;
  }
}